*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}
#header{
    background-color:rgba(0, 57, 115, 1);
    width: 100%;
    height: auto;
}

/*..brand image style..*/
.braand-image{
    width: 200px;
    height: 60px;
    
}
/*..social media  image style..*/
.social-img{
    width: 40px;
    height: 40px;
}
.listd{
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  color:#FFF;
}

/*..login button and signin button style..*/
.header-Button{
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    background: none;
    color:#FFF;
    border: none;
}
.search-img{
    font-size: 14px;
    color: #FFF;
    background: white;
}
.form-group label{
    color: red;
}
/*login form styles fro w3school*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #0f04aa;
    color: white;
    height: 30px;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid lightblue;
    font-weight: bold;
    font-size: 14px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
  /*header section toggle button style*/
  .toggli{
    width: 60ox;
    height: 40px;
  }
  /*Section two carousel image style*/
  .section-two-img{
    width: 100%;
    height: auto;
  }
  .section-two-text{
    text-align: center;
    color: #036;
    

  }
  /*...Footer section..*/
  #footer-section{
    background-color: #e3e7f1;
  }

  .footer-text{
    margin-left: 15%;
    color: #036;
  }
  ul{
    list-style-type: none;
  }
  .footer-list a{
    text-decoration: none;
    color: #232323;
  }
  /*Subscribe box*/
  .subscribe-box h3{
    font-size: 25px;
    color: #036;
  }
  small{
    font-size: 15px;
    color: #232323;
  }
  .input-group-btn{
    color: #036;
    width: 100%;
    height: 60px;
    text-align: center;
    color: #FFF; padding: 20px;
  }
  .section-three-img{
    width: 100%;
    height: auto;
  }


